<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>

<body>
    <div class="add-task">
        <div class="div">
            <h1>Add a New Task</h1>
            <!-- the action tag below will send data, need to add URL -->
            <form action="{{ url_for('submit_add') }}" method="POST">
                <div id="title">
                    <label for="title">Title:</label><br>
                    <input type="text" id="title" name="task_title" required/>
                </div>

                <div id="description">
                    <label for="description">Description:</label><br>
                    <textarea id="msg" name="user_message" required></textarea>
                </div>

                <div id="date">
                    <label for="date">Due date:</label><br>
                    <input type="date" id="date" name="date" required/>
                </div>

                <div class="button">
                    <br><button type="submit">Submit</button>
                </div>
                <a href="{{ url_for('home') }}">
                    <button type="button">Home</button>
                </a>
            </form>
            <!-- <div class="overlap-group">
                <div class="overlap">
                    <div class="rectangle"></div>
                    <div class="text-wrapper">Save new task</div>
                    <img class="check-mark" src="../images/add.png" />
                </div>
                <div class="text-wrapper-2">Add a task</div>
                <div class="div-wrapper">
                    <div class="text-wrapper-3">Title</div>
                </div>
                <div class="text-wrapper-4">Title:</div>
                <div class="overlap-2">
                    <div class="text-wrapper-5">Date</div>
                </div>
                <div class="text-wrapper-6">Due date:</div>
                <div class="overlap-3">
                    <div class="text-wrapper-3">Description</div>
                </div>
                <div class="text-wrapper-7">Description:</div>
                <a href="task-list.html">
                    <img class="close" src="../images/close.png" /></a>
            </div> -->
        </div>
    </div>
</body>

</html>