<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <div class="landing-page">
        <div class="div">
            <div class="text-wrapper">Welcome, User!</div>
            <a href="task-list.html">
                <div class="overlap-group">

                    <div class="rectangle"></div>
                    <div class="text-wrapper-2">View Task List</div>
                </div>
            </a>
            <a href="task-list.html">
                <div class="overlap">
                    <div class="rectangle"></div>
                    <div class="text-wrapper-2">Search for a task</div>
                </div>
            </a>
            <a href="{{ url_for('renderadd') }}">
                <button type = "button">Add Task</button>
            </a>

            <!-- <a href="add-task.html">
                <div class="overlap-group">
                    <div class="rectangle"></div>
                    <div class="text-wrapper-2">Add a task</div>
                </div>
            </a> -->

            <a href="base.html"><img class="home" src="../images/home.png" /></a>
        </div>
    </div>
</body>

</html>