<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>

<body>
    <div class="edit-task">
        <div class="div">
            <h1>Edit Task</h1>
            <form action="{{ url_for('submit_edit', id=doc._id) }}" method="POST">
                <div id="name"></div>
                    <label for="name">Name:</label><br>
                    <input type="text" id="title" name="name" value="{{ doc.name }}" required/>
                </div>

                <div id="description">
                    <label for="description">Description:</label><br>
                    <textarea id="msg" name="desc" required>{{ doc['description'] }}</textarea>
                </div>

                <div id="date">
                    <label for="date">Due Date:</label><br>
                    <input type="date" id="date" name="due_date" value="{{ doc.due_date }}" required />
                </div>

                <div class="button">
                    <br><button type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>