<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>

<body>
    <div class="search">
        <div class="div">
            <div class="text-wrapper-2">Search for a Task</div>
            <form action="{{ url_for('search') }}" method="GET">
                <input type="text" id="search-bar" name="query" placeholder="Search tasks..." required>
                <button type="submit">Search</button>
            </form>
            <a href="{{ url_for('home') }}">
                <button type="button">Home</button>
            </a>
        </div>
    </div>
</body>


</html>