<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>

<body>
    <div class="task-list">
        <div class="div">
            <h2>Task List</h2>

            <a href="{{ url_for('render_add') }}">
                <button type = "button">Add Task</button>
            </a>

            {% if tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Completed</th>
                            <th>Task Name</th>
                            <th>Description</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td>
                                <a href="{{ url_for('render_confirmation', id=task._id) }}">
                                    <button type="button"> Mark Complete </button>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('render_edit', id=task._id) }}">{{ task.name }}</a>
                            </td>
                            <td>
                                {{ task.description }}
                            </td>
                            <td>
                                {{ task.due_date or 'No due date' }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No tasks found.</p>
            {% endif %}
            
            <a href="{{ url_for('home') }}">
                <button type="button">Home</button>
            </a>

            <!-- <p class="task-item-due">
                <span class="text-wrapper">task item 1<br /></span> <span class="span">due 10/15/24</span>
            </p>
            <p class="p">
                <span class="text-wrapper">task item 2<br /></span> <span class="span">due 10/15/24</span>
            </p>
            <p class="task-item-due-2">
                <span class="text-wrapper">task item 3<br /></span> <span class="span">due 10/15/24</span>
            </p>
            <p class="task-item-due-3">
                <span class="text-wrapper">task item 4<br /></span> <span class="span">due 10/15/24</span>
            </p>
            <div class="text-wrapper-2">Tasks</div>
            <a href="add-task.html">
                <div class="overlap-group">
                    <div class="rectangle"></div>
                    <div class="text-wrapper-3">Add new task</div>
                    <img class="add" src="../images/add.png" />
                </div>
            </a> -->
            <!-- <img class="edit" src="../images/edit.png" />
            <img class="edit-2" src="../images/edit.png" />
            <img class="edit-3" src="../images/edit.png" />
            <img class="edit-4" src="../images/edit.png" /> -->
        </div>
    </div>
</body>

</html>