<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <div class="task-list">
        <div class="div">
            <div class="list">
                <ul>
                    &#123;% for task in task_list %&#125;
                    <li>&#123;&#123; task &#125;&#125;</li>
                    &#123;% endfor %&#125;
                </ul>
            </div>

            <!-- <p class="task-item-due">
                <span class="text-wrapper">task item 1<br /></span> <span class="span">due 10/15/24</span>
            </p>
            <p class="p">
                <span class="text-wrapper">task item 2<br /></span> <span class="span">due 10/15/24</span>
            </p>
            <p class="task-item-due-2">
                <span class="text-wrapper">task item 3<br /></span> <span class="span">due 10/15/24</span>
            </p>
            <p class="task-item-due-3">
                <span class="text-wrapper">task item 4<br /></span> <span class="span">due 10/15/24</span>
            </p>
            <div class="text-wrapper-2">Tasks</div>
            <a href="add-task.html">
                <div class="overlap-group">
                    <div class="rectangle"></div>
                    <div class="text-wrapper-3">Add new task</div>
                    <img class="add" src="../images/add.png" />
                </div>
            </a> -->
            <a href="base.html"><img class="home" src="../images/home.png" /></a>
            <!-- <img class="edit" src="../images/edit.png" />
            <img class="edit-2" src="../images/edit.png" />
            <img class="edit-3" src="../images/edit.png" />
            <img class="edit-4" src="../images/edit.png" /> -->
        </div>
    </div>
</body>

</html>